<%- include("../../setups/header") %>
<%- include("../../components/navbar") %>
<div class="container">
    <h1 class="mt-4 mb-4 ">Halaman Tabel</h1>
    <a class="btn btn-primary mb-3" href="/car/create" role="button">Tambah Data </a>
    <table class="table table-dark table-hover table-striped text-center">
        <thead>
            <tr>
            <th scope="col">Id</th>
            <th scope="col">Nama</th>
            <th scope="col">Merek</th>
            <th scope="col">Tersedia</th>
            <th scope="col">Harga</th>
            <th scope="col">Kategori</th>
            <th scope="col">Aksi</th>
            </tr>
        </thead>
        <tbody>
            <% cars.forEach(car => {%>
                <tr>
                    <th scope="row"><%= car.id %></th>
                    <td><%= car.name %></td>
                    <td><%= car.merk %></td>
                    <td><%= car.available ?"Tersedia":"Tidak Tersedia" %></td>
                    <td>Rp. <%= car.price %>/Hari</td>
                    <td><%= car.category.name %></td>
                    <td class="d-flex gap-2 justify-content-center">
                        <a href="/car/<%= car.id %>" class="btn btn-sm btn-light">
                            <i class="bi bi-eye"></i>
                        </a>
                        <a href="/car/<%= car.id %>/edit" class="btn btn-sm btn-light">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <form method="post" action="/car/<%= car.id %>/delete" onsubmit="return confirm('Apakah Anda yakin ingin menghapus data ini?')">
                            <button type="submit" class="btn btn-sm btn-light">
                            <i class="bi bi-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            <% })%>
        </tbody>
    </table>
</div>
<%- include("../../setups/footer") %>

